<div class="widgets">
<%@statuses.each do |status|%>
  <div class="widget 1<%=status.name%>">
     <p class="status-name"><%=status.name.split("_").join(" ")%></p>
     <p class="current_month_stats"><%=status.current_month_stats%></p>
     <p class="percentage"><span class="<%=status.calculate_previous_status.negative? ? 'negitive_per': 'positive_per'%>"> <%=status.calculate_previous_status%>%</span> vs last month</p>
  </div>
 <%end%>
</div>