
<nav class="nav">
   <div class="inner-nav-container" data-controller="search-filters">
    <button data-collapse-toggle="fp-nav" type="button" class="btn-toggle" aria-controls="fp-nav" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:flex md:justify-between md:w-full" id="fp-nav">
      <ul class="nav-item-container md:items-start lg:items-center">
       <li>   
        <%=link_to root_path, class: 'logo-link' do%>
            <%=image_tag("logo.svg", class: 'logo')%>
        <%end%>
       </li>
       <li> <%=link_to "Stats", root_path, class: 'nav-link'%> </li>
        <li><%=link_to "Trading accounts", trading_accounts_path, class: 'nav-link'%></li>
        <li><%=link_to "Payouts", root_path, class: 'nav-link'%></li>
        <li><%=link_to "Payouts", root_path, class: 'nav-link'%></li>
        <li><%=link_to "Referrals", root_path, class: 'nav-link'%></li>
        <li><%=link_to "Flags", root_path, class: 'nav-link'%></li>
        <li><%=link_to "Competitions", root_path, class: 'nav-link'%></li>
        <li><%=link_to "Templates", root_path, class: 'nav-link'%></li>
      </ul>

       <ul class="nav-item-container md:gap-3 md:items-end lg:items-center">
        <li> <button id="theme-toggle" type="button" class="btn-theme-switch">
   <svg
    id="theme-toggle-dark-icon"
    class="w-5 h-5 hidden"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
    ></path>
  </svg>
  <svg
    id="theme-toggle-light-icon"
    class="w-5 h-5 hidden"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
      fill-rule="evenodd"
      clip-rule="evenodd"
    ></path>
  </svg>
  </button></li>
        <li>
         <div class="relative hidden md:block">
      <div class="global-search-container">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <span class="sr-only">Search icon</span>
      </div>
      <input type="text" id="global-search-navbar" data-action="click->search-filters#globalSearch" class="globa-search global-search-bar" placeholder="Search or type a command">
    </div>
        
        </li>
        <li>
          <select id="emails" class="filter-select-field w-full lg:w-max lg:pr-8 ">
           <option value="<%=@user&.email%>"><%=@user&.email%></option>
          </select>
        </li>
        <li>
        <%=image_tag("more.svg", class: 'dark:bg-white')%>
        </li>
      </ul>
    </div>
  </div>
</nav>
