<!DOCTYPE html>
<html>
  <head>
    <title>FpDeck</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.turbo.min.js"></script>
     
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="relative">
   <div class="flex absolute bg-gray-600 inset-0 bg-opacity-15 z-30" id="overly"></div>
    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
